@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .box__selection {
    @apply w-96 h-48 bg-red-300 rounded-xl flex items-center justify-center text-xl font-bold ;
  }
  .box__disabled {
    @apply w-96 h-48 bg-gray-400 rounded-xl flex items-center justify-center text-xl font-bold ;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg__default {
  background-image: url("../public/image/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg__face {
  background-image: url("../public/image/bg_face.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg__body {
  background-image: url("../public/image/bg_body.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg__twotone {
  background-image: url("../public/image/bg_twotone.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


